[submodule "deps/ILSpy"]
	path = deps/ILSpy
	url = https://github.com/exyi/ILSpy.git
[submodule "deps/big-list-of-naughty-strings"]
	path = deps/big-list-of-naughty-strings
	url = https://github.com/minimaxir/big-list-of-naughty-strings.git
[submodule "deps/parser"]
	path = deps/parser
	url = https://github.com/graphql-dotnet/parser.git
